<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./bestseller.css" />
    <link rel="stylesheet" href="../output.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header
      class="flex bg-primary justify-between px-10 h-[100px] items-center mb-2"
    >
      <nav class="text-fs_24 font-fw_bold space-x-8">
        <a class="grey" href="../index.html">Home</a>
        <a class="grey" href="./shop.html">Shop</a>
        <a class="grey" href="#">Blog</a>
      </nav>
      <div class="logo">
        <img src="../assets/img/Home/logo.png" class="h-12" alt="" />
      </div>
      <nav class="text-fs_24 font-fw_bold space-x-8 justify-between">
        <a href=""><i class="grey fa-solid fa-heart"></i></a>
        <a href=""><i class="grey fa-solid fa-cart-shopping"></i></a>
        <a class=""><i class="grey fa-solid fa-user"></i></a>
      </nav>
    </header>
    <div class="img-container"></div>
    <section >
      <div class="sidebar">
        <h2>Categories</h2>
        <div class="category">
          <h3>Crystal</h3>
          <ul>
            <li><a href="">Gemstone</a></li>
            <li><a href="">Diamond</a></li>
          </ul>
        </div>
        <div class="category">
          <h3>Carats</h3>
          <ul>
            <li><a href="">Gold</a></li>
            <li><a href="">Platinum</a></li>
          </ul>
        </div>
        <div class="category">
          <h3>Products</h3>
          <ul>
            <li><a href="./coin.html">Coin</a></li>
            <li><a href="./biscuit.html">Biscuit</a></li>
            <li><a href="./necklace.html">Necklace</a></li>
                        <li><a href="./bracelet.html">Bracelet</a></li>

                        <li><a href="./bangle.html">Bangles</a></li>


                        <li><a href="./earring.html">Earring</a></li>


            <li><a href="./pendant.html">Pendant</a></li>

<li><a href="./ring.html">Ring</a></li><li><a href="./mangalsutra.html">Mangalsutra</a></li>            <li><a href="./nosepin.html">Nosepin</a></li>
          </ul>
        </div>
        <div class="category">
          <h3>Bridal Special</h3>
          <ul>
            <li><a href="">Enchanting</a></li>
            <li><a href="">Trendsetter</a></li>
            <li><a href="">Dazzling</a></li>
            <li><a href="">Elegant</a></li>
          </ul>
        </div>
        <div class="category">
          <h3>Occasional</h3>
          <ul>
                        <li><a href="./occassion.html">Birthday</a></li>
            <li><a href="./occassion.html">Anniversary</a></li>
            <li><a href="./occassion.html">Baby Birth</a></li>
            <li><a href="./occassion.html">Festive Gifts</a></li>
          </ul>
        </div>
         <div class="category">
          <h3>
            Personalised
            <ul>
              <li><a href="./occassion.html">Jewellery Box</a></li>
            </ul>
          </h3>
        </div>
      </div>
      <div class="shop-container ">
        <h1>Best Sellers</h1>
        <div class="progress"></div>
        <p class="pagination">
            <a ><</a>
            <a class="active" href="#">1</a>
            <a href="./bestseller-page-2.html">2</a>
            <a href="./bestseller-page-3.html">3</a>
            <a href="./bestseller-page-4.html">4</a>
            <a href="./bestseller-page-2.html">></a>
          </p>
        <div class="product-container page-1">
            <div class="row">
                <p>Shop > Products</p> 
                    <div class="cards">
                        <div class="card fade-in-bck">
                            <img src="../assets/img/best-seller/bp1.jfif" alt="" />
                            <p>Coin</p>
                            <button class="addtocart">
                              <div class="pretext"><i class="fas fa-cart-plus"></i>Rs.51000</div>
                
                              <div class="pretext done">
                                <div class="posttext"><i class="fas fa-check"></i> ADDED</div>
                              </div>
                            </button>
                          </div>
                          <div class="card fade-in-bck">
                            <img src="../assets/img/best-seller/bp2.jfif" alt="" />
                            <p>Earring</p>
                            <button class="addtocart">
                              <div class="pretext"><i class="fas fa-cart-plus"></i>Rs.25000</div>
                
                              <div class="pretext done">
                                <div class="posttext"><i class="fas fa-check"></i> ADDED</div>
                              </div>
                            </button>
                          </div>
                          <div class="card fade-in-bck">
                            <img src="../assets/img/best-seller/bp3.jfif" alt="" />
                            <p>Bracelet
                            </p>
                            <button class="addtocart">
                              <div class="pretext"><i class="fas fa-cart-plus"></i>Rs.45000</div>
                
                              <div class="pretext done">
                                <div class="posttext"><i class="fas fa-check"></i> ADDED</div>
                              </div>
                            </button>
                          </div>   
                          <div class="card fade-in-bck">
                            <img src="../assets/img/best-seller/bp4.png" alt="" />
                            <p>Bangles</p>
                            <button class="addtocart">
                              <div class="pretext"><i class="fas fa-cart-plus"></i>Rs.55000</div>
                
                              <div class="pretext done">
                                <div class="posttext"><i class="fas fa-check"></i> ADDED</div>
                              </div>
                            </button>
                          </div>              
                    </div>
                </p>
            </div>
            <div class="row">
                <p>Coin</p> 
                    <div class="cards">
                        <div class="card fade-in-bck">
                            <img src="../assets/img/best-seller/c1.jfif" alt="" />
                            <p>Coin A</p>
                            <button class="addtocart">
                              <div class="pretext"><i class="fas fa-cart-plus"></i>Rs.51000</div>
                
                              <div class="pretext done">
                                <div class="posttext"><i class="fas fa-check"></i> ADDED</div>
                              </div>
                            </button>
                          </div>
                          <div class="card fade-in-bck">
                            <img src="../assets/img/best-seller/c2.jfif" alt="" />
                            <p>Coin B</p>
                            <button class="addtocart">
                              <div class="pretext"><i class="fas fa-cart-plus"></i>Rs.25000</div>
                
                              <div class="pretext done">
                                <div class="posttext"><i class="fas fa-check"></i> ADDED</div>
                              </div>
                            </button>
                          </div>
                          <div class="card fade-in-bck">
                            <img src="../assets/img/best-seller/c3.jfif" alt="" />
                            <p>Coin C
                            </p>
                            <button class="addtocart">
                              <div class="pretext"><i class="fas fa-cart-plus"></i>Rs.45000</div>
                
                              <div class="pretext done">
                                <div class="posttext"><i class="fas fa-check"></i> ADDED</div>
                              </div>
                            </button>
                          </div>   
                          <div class="card fade-in-bck">
                            <img src="../assets/img/best-seller/c4.png" alt="" />
                            <p>Coin 4</p>
                            <button class="addtocart">
                              <div class="pretext"><i class="fas fa-cart-plus"></i>Rs.55000</div>
                
                              <div class="pretext done">
                                <div class="posttext"><i class="fas fa-check"></i> ADDED</div>
                              </div>
                            </button>
                          </div>              
                    </div>
                </p>
            </div>
            <div class="row">
                <p>Biscuit</p> 
                    <div class="cards">
                        <div class="card fade-in-bck">
                            <img src="../assets/img/best-seller/bs1.png" alt="" />
                            <p>25g</p>
                            <button class="addtocart">
                              <div class="pretext"><i class="fas fa-cart-plus"></i>Rs.51000</div>
                
                              <div class="pretext done">
                                <div class="posttext"><i class="fas fa-check"></i> ADDED</div>
                              </div>
                            </button>
                          </div>
                          <div class="card fade-in-bck">
                            <img src="../assets/img/best-seller/bs2.png" alt="" />
                            <p>50g</p>
                            <button class="addtocart">
                              <div class="pretext"><i class="fas fa-cart-plus"></i>Rs.25000</div>
                
                              <div class="pretext done">
                                <div class="posttext"><i class="fas fa-check"></i> ADDED</div>
                              </div>
                            </button>
                          </div>
                          <div class="card fade-in-bck">
                            <img src="../assets/img/best-seller/bs3.png" alt="" />
                            <p>45g
                            </p>
                            <button class="addtocart">
                              <div class="pretext"><i class="fas fa-cart-plus"></i>Rs.45500</div>
                
                              <div class="pretext done">
                                <div class="posttext"><i class="fas fa-check"></i> ADDED</div>
                              </div>
                            </button>
                          </div>   
                          <div class="card fade-in-bck">
                            <img src="../assets/img/best-seller/bs4.png" alt="" />
                            <p>20g</p>
                            <button class="addtocart">
                              <div class="pretext"><i class="fas fa-cart-plus"></i>Rs.55000</div>
                
                              <div class="pretext done">
                                <div class="posttext"><i class="fas fa-check"></i> ADDED</div>
                              </div>
                            </button>
                          </div>              
                    </div>
                </p>
            </div>
        </div>
        
      </div>
      
    </section>
    <div class="details">
      <div class="child address">
        <div class="child-1">
          <h3>Address</h3>
          <p>
            Crystals & Carats Plot No 44, 45, Street Number 14, Marol MIDC
            Industry Estate, Andheri East,Mumbai -400093
          </p>
        </div>
        <div class="child-2"></div>
      </div>
      <div class="child address">
        <h3>Help & Info</h3>
        <ul>
          <li>About</li>
          <li>Careers</li>
          <li>Blog</li>
          <li>FAQs</li>
        </ul>
      </div>
      <div class="child address">
        <h3>Contact Us</h3>
        <ul class="contact-us">
          <li><i class="fa-solid fa-phone"></i>1809-908-5647</li>
          <li><i class="fa-solid fa-envelope"></i>Get in Touch</li>
          <li><i class="fa-brands fa-rocketchat"></i>Chat With Us</li>
        </ul>
      </div>
      <div class="child address">
        <h3>Useful Links</h3>
        <ul>
          <li>Privacy Policy</li>
          <li>Terms of Use</li>
          <li>Payment Issues</li>
          <li>Net Banking</li>
          <li>Custom Jewellery</li>
        </ul>
      </div>
      <div class="child">
        <h3>Location</h3>
        <img src="../assets/img/Home/location.png" alt="" />
      </div>
    </div>
    <div class="socials">
      <span class="brown"> Follow Us on : </span
      ><i class="fa-brands fa-facebook"></i
      ><i class="fa-brands fa-instagram"></i
      ><i class="fa-brands fa-whatsapp"></i><i class="fa-brands fa-twitter"></i>
    </div>
    <footer class="brown">@2023 Crystals & Carats. All Rights Reserved.</footer>

    <script>
      const button = document.querySelector(".addtocart");
      const done = document.querySelector(".done");
      console.log(button);
      let added = false;
      button.addEventListener("click", () => {
        if (added) {
          done.style.transform = "translate(-110%) skew(-40deg)";
          added = false;
        } else {
          done.style.transform = "translate(0px)";
          added = true;
        }
      });
      window.addEventListener('scroll', () => {
  document.body.style.setProperty('--scroll',window.pageYOffset / (document.body.offsetHeight - window.innerHeight));
}, false);
    </script>
  </body>
</html>
