@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  /* Background color */

  --primary: #ebe9e1;
  --secondary: #ff3300;
  --tertiary: #fdae6d;
  --quat: #d6236d;
  --pent: #dd99eb;

  --bg-brown: #8b0000;
  --bg-dark-brown: #84292b;
  --bg-grey: #d9d9d9;
  --bg-pink: #d27f7f80;
  --bg-darkpink: #d27f7f;
  --bg-lightpink: #e0c4c4;
  --bg-grey_light: #ffffff;

  --background-image: radial-gradient(circle, #e59ebc, #f29aad, #fb989b, #fe9986, #fb9d70);

  /* font family */

  --ff-nutino: Nunito Sans;
  --ff-poppins: Poppins;

  /* font size */

  --fs-16: 16px;
  --fs-24: 24px;
  --fs-32: 32px;
  --fs-36: 36px;
  --fs-40: 40px;
  --fs-48: 48px;
  --fs-60: 60px;
  --fs-64: 64px;
  --fs-96: 94px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
}

.img-container {
  height: 80vh;
  background-color: red;
  background: url("../assets/img/shop/c2.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  display: flex;
  flex-direction: row;
}
.sidebar {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: var(--tertiary); */
background-image: var(--background-image);
  padding: 2rem;
  width: 20%;
  gap: 1rem;
  font-family: "Poppins", sans-serif;
}

.sidebar h2 {
  font-size: 1.8rem;
}
.category h3 {
  font-size: 1.4rem;
}

.shop-container {
  /* overflow-y: scroll; */
  /* height: 150vh; */
  padding: 2rem 2rem 3rem 2rem;
  width: 80%;
  background-color: var(--primary);
}

.shop-container h1 {
  /* position: sticky; */
  /* top: 1rem; */
  text-align: center;
  /* background-color: var(--tertiary); */
  background-image: var(--background-image);
  font-size: var(--fs-36);
}


.progress {
  height: 3px;
  width: 0%;
  background-color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  animation: progress 1s linear;
}
@keyframes progress {
  to {
    background-color: rgb(20, 255, 226);
    width: 100%;
  }
}


.row {
  padding: 1rem;
}
.row > p {
  margin: 1rem 0;
  font-size: 20px;
  font-weight: 500;
}

.cards {
  /* padding: 2rem 0; */
  /* display: grid; */
  display: flex;
  /* grid-column: 1fr ; */
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  color: #000;
  gap: 3rem 3rem;
}

.card {
  /* flex: 33.33%; */
  /* flex-grow: 1;   */
  /* width:25%; */
  height: 280px;
  width: 180px;
  display: flex;
  padding: 0.6rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  color: black;
  background-color: white;
  border-radius: 10px;
  /* box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25); */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.card:hover{
    -webkit-box-shadow: -1px 8px 21px 3px #fe9986; 
box-shadow: -1px 8px 21px 3px #fe9986;
}
.card > * {
  min-width: fit-content;
}
.card p {
  font-size: large;
  font-weight: 500;
}

.card > img {
  inline-size: 100%;
  border-radius: 10px;
  block-size: 100%;
  /* height: 20vh; */
  /* border: 1px dashed black; */
  /* border-radius: 20px; */
  overflow: hidden;
  object-fit: cover;
  /* width: 200px; */
  /* height: 250px; */
}

.card button {
  width: 100%;
}
.cards > *:hover {
  filter: drop-shadow(4px 5px 18px var(--background-ter));
  scale: 1.05;
  transition: 0.3s;
}

.fade-in-bck {
	animation: fade-in-bck 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/**
 * ----------------------------------------
 * animation fade-in-bck
 * ----------------------------------------
 */
 @keyframes fade-in-bck {
  0% {
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

.addtocart {
  display: block;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.2rem;
  position: relative;
  background: var(--secondary);
  cursor: pointer;
  height: 2em;
  width: 7em;
  overflow: hidden;
  transition: transform 0.1s;
  z-index: 1;
}
.addtocart:hover {
  transform: scale(1.1);
}
.pretext {
  color: black;
  background: var(--secondary);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}
i {
  margin-right: 10px;
}
.done {
  background: greenyellow;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;

  transform: translate(-110%) skew(-40deg);
}
.posttext {
  background: greenyellow;
}
.fa-check {
  background: greenyellow;
}
.underline {
  text-decoration: underline;
  text-underline-offset: 1rem;
}
.banner-container {
  width: 100%;
  height: 50vh;
  background: url("../assets/img/best-seller/discount-banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pagination {
  /* position: fixed; */
  /* bottom: 400px; */
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  gap: 5px;
}

.pagination > * {
  padding: 0.6rem 1rem;
  border-radius: 0.2rem;
}

.pagination a:hover:not(.active) {
  background-color: var(--bg-grey);
}

.pagination a.active {
  background-color: var(--tertiary);
  font-weight: 700;
  /* border: 3px solid black; */
}

.details {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  gap: 30px;
  justify-content: center;
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--bg-grey);
}

.child {
  width: 25%;
}

.child h3 {
  font-size: 20px;
  font-weight: 500;
  color: var(--bg-brown);
  margin-bottom: 10px;
}

.brown {
  color: var(--bg-brown);
}

.contact-us li i {
  padding-right: 10px;
}

.details ul li {
  padding-top: 0.2rem;
}
.details {
  font-weight: 500;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-top: -25px;
  /* position: absolute; */
  /* bottom: 0; */
}
.socials > * {
  padding-left: 1.5rem;
}

footer {
  text-align: center;
  background-color: var(--tertiary);
  font-weight: 600;
  font-family: var(--ff-nutino);
  padding: 0.5rem 0;
}
