
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  /* Background color */

  --primary: #ebe9e1;
  --secondary: #ff3300;
  --tertiary: #fdae6d;
  --quat: #d6236d;
  --pent: #dd99eb;

  --bg-brown: #8b0000;
  --bg-dark-brown: #84292b;
  --bg-grey: #d9d9d9;
  --bg-pink: #d27f7f80;
  --bg-darkpink: #d27f7f;
  --bg-lightpink: #e0c4c4;
  --bg-grey_light: #ffffff;

  --background-image: radial-gradient(circle, #e59ebc, #f29aad, #fb989b, #fe9986, #fb9d70);

  /* font family */

  --ff-nutino: Nunito Sans;
  --ff-poppins: Poppins;

  /* font size */

  --fs-16: 16px;
  --fs-24: 24px;
  --fs-32: 32px;
  --fs-36: 36px;
  --fs-40: 40px;
  --fs-48: 48px;
  --fs-60: 60px;
  --fs-64: 64px;
  --fs-96: 94px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rows{
    width: 100%;
}
.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 3rem 0;
    margin-top: 40px;
    text-align: center;
}
.image-container p{
    margin:1.5rem 0 ;
    font-size: large;
    font-weight: 600;
}

.img-cards{
    display: flex;
    flex-direction: row;
    gap: 0 5rem;
    justify-content: center;
}

.img-card{
    height: 270px;
    width: 220px;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.img-card:hover{
        -webkit-box-shadow: -1px 8px 21px 3px #fe9986; 
    box-shadow: -1px 8px 21px 3px #fe9986;
}
.img-card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}