<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./shop.css" />
    <link rel="stylesheet" href="../output.css" />
    <link rel="stylesheet" href="./coin.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header
      class="flex bg-primary justify-between px-10 h-[100px] items-center mb-2"
    >
      <nav class="text-fs_24 font-fw_bold space-x-8">
        <a class="grey" href="../index.html">Home</a>
        <a class="grey" href="./shop.html">Shop</a>
        <a class="grey" href="#">Blog</a>
      </nav>
      <div class="logo">
        <img src="../assets/img/Home/logo.png" class="h-12" alt="" />
      </div>
      <nav class="text-fs_24 font-fw_bold space-x-8 justify-between">
        <a href=""><i class="grey fa-solid fa-heart"></i></a>
        <a href=""><i class="grey fa-solid fa-cart-shopping"></i></a>
        <a class=""><i class="grey fa-solid fa-user"></i></a>
      </nav>
    </header>
    <div class="img-container"></div>
    <section>
      <div class="sidebar">
        <h2>Filters</h2>
        <div class="category">
          <h3>Price</h3>
          <div class="price">
            <div class="price-input">
              <input type="number" name="" id="" />to
              <input type="number" name="" id="" />
            </div>
            <label
              for="default-range"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            ></label>
            <input
              id="default-range"
              type="range"
              value="50"
              class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700"
            />
          </div>
        </div>
        <div class="category">
          <h3>Catergories</h3>
          <div class="checkbox-container">
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" />
            <label for="coins">Gemstone</label
            ><br />
            <input type="checkbox" />
            <label for="coins">Diamond</label
            ><br />
            <input type="checkbox" name="coin" />
            <label for="coins">Gold</label>
            <br>
            <input type="checkbox" />
            <label for="coins">Platinum</label>
          </div>
        </div>
        <div class="category">
          <h3>Gender</h3>
          <div class="checkbox-container">
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" />
            <label for="coins">Men</label
            ><br />
            <input type="checkbox" />
            <label for="coins">Women</label
            ><br />
            <input type="checkbox" name="coin" />
            <label for="coins">Kids</label>
          </div>
        </div>
          <div class="category">
            <h3>Discount</h3>
            <div class="checkbox-container">
              <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" />
              <label for="coins">10% or more
              
               </label
              ><br />
              <input type="checkbox" />
              <label for="coins">  20% or more</label
              ><br />
              <input type="checkbox" name="coin" />
              <label for="coins">  30% or more </label>
            </div>
          </div>
          <div class="category">
            <h3>Rating</h3>
            <div class="checkbox-container">
              <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" />
              <label for="coins">3 &#9733; & above  
               </label
              ><br />
              <input type="checkbox" />
              <label for="coins">   4 &#9733;& above</label
              ><br />
              <input type="checkbox" name="coin" />
              <label for="coins">   5 &#9733; </label>
            </div>
          </div>
          <div class="category">
            <h3>Purity</h3>
            <div class="checkbox-container">
              <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" />
              <label for="coins">24K gold</label
              ><br />
              <input type="checkbox" />
              <label for="coins">22K gold</label
              ><br />
              <input type="checkbox" name="coin" />
              <label for="coins">20K gold</label>
              <br>
              <input type="checkbox" />
              <label for="coins">18K gold</label>
            </div>
          </div>
      </div>
      <div class="shop-container">
        <p>
          <span>Shop > Products > Nosepins</span
          ><span>Sort By &nbsp;<i class="fa-solid fa-angle-down"></i></span>
        </p>
        <div class="cards">
          <div class="card">
            <img src="../assets/img/nosepin/n1.png" alt="" />
            <button class="addtocart">
              <div class="pretext"><i class="fas fa-cart-plus"></i>Rs.5000</div>

              <div class="pretext done">
                <div class="posttext"><i class="fas fa-check"></i> ADDED</div>
              </div>
            </button>
          </div>
          <div class="card">
            <img src="../assets/img/nosepin/n2.png" alt="" />
            <button class="addtocart">
              <div class="pretext"><i class="fas fa-cart-plus"></i>Rs.5000</div>

              <div class="pretext done">
                <div class="posttext"><i class="fas fa-check"></i> ADDED</div>
              </div>
            </button>
          </div>
          <div class="card">
            <img src="../assets/img/nosepin/n4.jfif" alt="" />
            <button class="addtocart">
              <div class="pretext"><i class="fas fa-cart-plus"></i>Rs.5000</div>

              <div class="pretext done">
                <div class="posttext"><i class="fas fa-check"></i> ADDED</div>
              </div>
            </button>
          </div>
          <div class="card">
            <img src="../assets/img/nosepin/n4.jfif" alt="" />
            <button class="addtocart">
              <div class="pretext"><i class="fas fa-cart-plus"></i>Rs.5000</div>

              <div class="pretext done">
                <div class="posttext"><i class="fas fa-check"></i> ADDED</div>
              </div>
            </button>
          </div>
          <div class="card">
            <img src="../assets/img/nosepin/n1.png" alt="" />
            <button class="addtocart">
              <div class="pretext"><i class="fas fa-cart-plus"></i>Rs.5000</div>

              <div class="pretext done">
                <div class="posttext"><i class="fas fa-check"></i> ADDED</div>
              </div>
            </button>
          </div>
          <div class="card">
            <img src="../assets/img/nosepin/n2.png" alt="" />
            <button class="addtocart">
              <div class="pretext"><i class="fas fa-cart-plus"></i>Rs.5000</div>

              <div class="pretext done">
                <div class="posttext"><i class="fas fa-check"></i> ADDED</div>
              </div>
            </button>
          </div>
          <div class="card">
            <img src="../assets/img/nosepin/n4.jfif" alt="" />
            <button class="addtocart">
              <div class="pretext"><i class="fas fa-cart-plus"></i>Rs.5000</div>

              <div class="pretext done">
                <div class="posttext"><i class="fas fa-check"></i> ADDED</div>
              </div>
            </button>
          </div>
          <div class="card">
            <img src="../assets/img/nosepin/n4.jfif" alt="" />
            <button class="addtocart">
              <div class="pretext"><i class="fas fa-cart-plus"></i>Rs.5000</div>

              <div class="pretext done">
                <div class="posttext"><i class="fas fa-check"></i> ADDED</div>
              </div>
            </button>
          </div>
          <div class="card">
            <img src="../assets/img/nosepin/n1.png" alt="" />
            <button class="addtocart">
              <div class="pretext"><i class="fas fa-cart-plus"></i>Rs.5000</div>

              <div class="pretext done">
                <div class="posttext"><i class="fas fa-check"></i> ADDED</div>
              </div>
            </button>
          </div>
          <div class="card">
            <img src="../assets/img/nosepin/n2.png" alt="" />
            <button class="addtocart">
              <div class="pretext"><i class="fas fa-cart-plus"></i>Rs.5000</div>

              <div class="pretext done">
                <div class="posttext"><i class="fas fa-check"></i> ADDED</div>
              </div>
            </button>
          </div>
          <div class="card">
            <img src="../assets/img/nosepin/n4.jfif" alt="" />
            <button class="addtocart">
              <div class="pretext"><i class="fas fa-cart-plus"></i>Rs.5000</div>

              <div class="pretext done">
                <div class="posttext"><i class="fas fa-check"></i> ADDED</div>
              </div>
            </button>
          </div>
          <div class="card">
            <img src="../assets/img/nosepin/n4.jfif" alt="" />
            <button class="addtocart">
              <div class="pretext"><i class="fas fa-cart-plus"></i>Rs.5000</div>

              <div class="pretext done">
                <div class="posttext"><i class="fas fa-check"></i> ADDED</div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </section>
    <div class="details">
      <div class="child address">
        <div class="child-1">
          <h3>Address</h3>
          <p>
            Crystals & Carats Plot No 44, 45, Street Number 14, Marol MIDC
            Industry Estate, Andheri East,Mumbai -400093
          </p>
        </div>
        <div class="child-2"></div>
      </div>
      <div class="child address">
        <h3>Help & Info</h3>
        <ul>
          <li>About</li>
          <li>Careers</li>
          <li>Blog</li>
          <li>FAQs</li>
        </ul>
      </div>
      <div class="child address">
        <h3>Contact Us</h3>
        <ul class="contact-us">
          <li><i class="fa-solid fa-phone"></i>1809-908-5647</li>
          <li><i class="fa-solid fa-envelope"></i>Get in Touch</li>
          <li><i class="fa-brands fa-rocketchat"></i>Chat With Us</li>
        </ul>
      </div>
      <div class="child address">
        <h3>Useful Links</h3>
        <ul>
          <li>Privacy Policy</li>
          <li>Terms of Use</li>
          <li>Payment Issues</li>
          <li>Net Banking</li>
          <li>Custom Jewellery</li>
        </ul>
      </div>
      <div class="child">
        <h3>Location</h3>
        <img src="../assets/img/Home/location.png" alt="" />
      </div>
    </div>
    <div class="socials">
      <span class="brown"> Follow Us on : </span
      ><i class="fa-brands fa-facebook"></i
      ><i class="fa-brands fa-instagram"></i
      ><i class="fa-brands fa-whatsapp"></i><i class="fa-brands fa-twitter"></i>
    </div>
    <footer class="brown">@2023 Crystals & Carats. All Rights Reserved.</footer>

    <script>
      const button = document.querySelector(".addtocart");
      const done = document.querySelector(".done");
      console.log(button);
      let added = false;
      button.addEventListener("click", () => {
        if (added) {
          done.style.transform = "translate(-110%) skew(-40deg)";
          added = false;
        } else {
          done.style.transform = "translate(0px)";
          added = true;
        }
      });
    </script>
  </body>
</html>
